h1 {
	text-align :center;    
	text-shadow:
    -.5px -.5px 0 #000,
    .5px -.5px 0 #000,
    -.5px -.5px 0 #000,
    1px 1px 0 #000;  
}
p.jumbotron {
	text-align :center;
	background-color: rgba(120, 137, 117, 0.5);
	
}

img {
	height: 100px;
}

.warning {
	color :white;
	background-color: rgba(244, 66, 66, 0.8);
	padding:10px;
	border-radius: 5px;
}

h2 {
	color:black;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#habitat {
	height:250px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.glyphicon.glyphicon-chevron-right{
   color:grey;
}

.glyphicon.glyphicon-chevron-left{
   color:grey;
}

iframe {
	padding:20px;
 	border: 0;
}

#container {
    display: flex;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;     /* center items vertically, in this case */
    height: 250px;
}
