<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

	 <!-- jquery -->
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	
	<link href="/css/custom.css" rel="stylesheet" type="text/css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/data">Data Exploration</a></li>
            <li><a href="/about">Our Team</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	

    <div class="container">
		<div class="jumbotron" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/21/Family_of_Mushrooms.jpg); background-size:100%; height: 200%"> 
			<h1 style="color:white;"> IDS Final Project: Data Driven Mushroom Hunting </h1>
			<p class="jumbotron" style="color:white;"> Welcome to Hunting for Mushrooms! What is the number one question expert mushroom hunters are asked? Is this mushroom edible
			or not? This is a tricky question for mushroom experts since you really have to learn the species one by one to be certain. Currently, there is no way to test, no 
			chemical to apply, and no machine to use  to decide if a mushroom is poisonous or not. You have to make an identification down to the species level. This website will 
			help break down some of the characteristics to look for in mushrooms to help make identifying mushrooms easier. We have used a data-driven approach to looking for
			mushrooms. We have explored a dataset that takes into account certain characteristics of mushrooms from the National Audubon Society from the Agaricus and Lepiota 
			family, home to the most commonly cultivated mushroom (Agaricus bisporus). </p>
		</div>

		<div class = "warning" >
			<h3 > Disclaimer </h3>
			This website includes information concerning identification and the edibility of wild mushrooms, but it is not intended to be a manual for their safe consumption. Anyone wanting 
			to eat wild mushrooms needs to be absolutely 100% sure of their identification and should consult an experienced person in mushroom edibility before eating any wild mushroom, 
			especially if they do not feel confident in making an identification. There are over 20 deaths per year resulting from mushroom poisonings. Illness and even death can occur from 
			ingesting wild mushrooms. Any person who ingests mushrooms or any other potentially dangerous fungi does so at their own risk! If you are new to mushrooming, join a local club to 
			go on live forays with knowledgeable mycologists that can correctly identify mushrooms. When in doubt, throw it out!  </p>
		</div>
	
		<h3>When to go Mushroom Hunting </h3>
		<p>You can find mushrooms growing all year round, but the best times to go mushroom hunting is in the spring to fall. Mushrooms typically grow well in moist environments so the 
		ideal time to go would be right after a rainfall.  </p>
		
		<h3>Tips to Avoiding Poisonous Mushrooms</h3>
		<p>Although no simple test can determine whether a mushroom is edible or poisonous, there are some rules of thumb that can be helpful to avoid poisonous mushrooms: 
		<ol>

				<li> Do not eat any Amanita species and be especially careful in identifying Amanita look-alikes or any other white mushroom. They contain some of the most deadly
				mushrooms like the Destroying Angel and the Death Cap. **Pictures of the mushrooms here** </li>
				<li> Avoid little brown mushrooms (LBM’s) and large brownish mushroom, especially those with pinkish, brownish, purple-brown, or blackish gills. </li>
				<li> Avoid false morels. </li>
		</ol>
  </p>
		<br>
		
		<br>
		
		
	</div><!-- /.container -->
			


<!--<!-- Carousel
	    ==================================================
	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
	     
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel" data-slide-to="1"></li>
	        <li data-target="#myCarousel" data-slide-to="2"></li>
	      </ol>
	      <div class="carousel-inner" role="listbox">
	        <div class="item active">
	          <img class="first-slide" alt = '' style="height:600px;">
	           <div class="container">
	          	 <div class="carousel-content"> 
	              <h2>Habitat.</h2>
	              <p>Note: If you're viewing this page via a the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <img class="second-slide" alt = '' style="height:600px;">
	          <div class="container">
	            <div class="carousel-content">
	              <h2>Another example headline.</h2>
	              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	              
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <img class="third-slide" alt = '' style="height:600px;">
	          <div class="container">
	            <div class="carousel-content">
	              <h2>One more for good measure.</h2>
	              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	            </div>
	          </div>
	        </div>
	      </div>
	      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	        <span class="sr-only">Previous</span>
	      </a>
	      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	        <span class="sr-only">Next</span>
	      </a>
	    </div> --> 
	    
	  <!-- Carousel
	    ================================================== -->  
	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
		    <!-- Wrapper for slides -->
		    <div class="row">
		        <div class="col-xs-offset-3 col-xs-6">
		            <div class="carousel-inner">
		                <div class="item active" >
		                    <div class="carousel-content" style="height:500px;">
		                        <div>
		                            <h2>Habitat</h2>
		                            <p>Although mushrooms are usually considered members of the plant kingdom, they differ from most plants in that they lack chlorophyll and must rely on 
		                            organic material for nutrition. They do this in three ways, as saprophytes, and parasites, and as mycorrhizae: </p>
		                            <p> <ol>
		                            	<li>Saprophytes live on dead organic matter, including dead wood, the dead tissue of living trees, dung, leaf litter, or conifer litter. </li>
										<li> Parasites attack living plants or animals. </li>
										<li> Mycorrhizal mushrooms have a symbiotic relationship with plants, usually either trees or shrubs.  </li>
		                            </p></ol>
		                            <p> (Picture of some sort) </p>
		                        </div>
		                    </div>
		                </div>
		                <div class="item" style="height:500px;">
		                    <div class="carousel-content">
		                        <div>
		                            <h2>Population</h2>
		                            <p>The mushrooms population and the way it grows can say a lot about the species. We will go over a few of the key attributes to look for in determining 
		                            a mushroom’s population.</p>
		                        </div>
		                    </div>
		                </div>
		                <div class="item" style="height:500px;">
		                    <div class="carousel-content">
		                        <div>
		                            <h2>Solitary</h2>                            
		                            <p>When you find a mushroom of any kind, it's usually a good bet that it's not alone. But for many species, additional mushrooms may be spread far apart, 
		                            or may mature at different times in the same area. Many of the fungi that produce large mushrooms, especially the Amanitas and Boletes, tend to have considerable
		                            space between solitary fruiting spots without any particular pattern. When you find a one mushroom with none of the same species around it is considered solitary. </p>
		                        </div>
		                    </div>
		                </div>
		                <div class="item" style="height:500px;">
		                    <div class="carousel-content">
		                        <div>
		                            <h2>Clustered</h2>                            
		                            <p>Many of the saprotrophic fungi are known to grow in clusters. The definition of a cluster is where many mushrooms grow from a single point of origin. Clustered 
		                            growth can be a major diagnostic character for many fungi. Some of the most well known clustering mushrooms are Gymnopilus and Naematoloma.</p>
		                        </div>
		                    </div>
		                </div>
		                <div class="item" style="height:500px;">
		                    <div class="carousel-content">
		                        <div>
		                            <h2>Abundant</h2>                            
		                            <p>Saying that mushrooms are abundant is basically saying that many individual fruitings can be found in a relatively small area, this is also called a troop. Troops can 
		                            be formed from gregarious fruitings of a single fungus within a single food source, such as many mushrooms in a log growing on a log, or  it could be many independant 
		                            fruitings within a heavily colonized substrate such as mushrooms scattered across the forest humus, which is the organic component of soil, formed by the decomposition 
		                            of leaves and other plant material by soil microorganisms.</p>
		                        </div>
		                    </div>
		                </div>
		               	<div class="item">
					        <img class="second-slide" src= "/images/Overview of Mushroom Attributes.png" alt = 'mushroon'>
					         <!-- <div class="container"> -->
					            <div class="carousel-content">
					              <h2>Overview of Visual Cues</h2>
					              <p>Overview of all of the visual cues we will cover from the cap to the volva. </p>
					              
					            </div>
					         <!--</div> -->
					    </div>
		                
		            </div>
		        </div>
		    </div>
	    <!-- Controls --> 
	    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	        <span class="sr-only">Previous</span>
	      </a>
	      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	        <span class="sr-only">Next</span>
	      </a>

	</div>
	    
	    <br>
	    <br>
	    <br>
	</div>
	
	 <!-- RShiny
	    ================================================== -->  
	 <div class="container">
		<iframe src="https://ids-mushrooms.shinyapps.io/mushroomsclassifier/" style="width:100%;height:400px;"></iframe>
	</div>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
  



</html>